In [1]:
i = [1,2]
for x in i:
    print (x)

1
2

Where x defines the variables

In [2]:
h = [1,2,4]

In [5]:
h

[1, 2, 4]

In [6]:
for a in h:
    print("hi")

hi
hi
hi

PRINT 10 Numbers Using for loop

In [8]:
for num in [1,2,3,4,5,6,7,8,9,10]:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [11]:
a = 0
for num in [10,30,20]:
    a = a + num
print (a)

60

In above example it prints total output means the final output

In [15]:
b = 20
for a in [10,3,2]:
    b = b + a
    print( b)

30
33
35

here it prints individual output, like it takes b values executes and shows output as 30 and it keep on calculating until the values present in the block

In [16]:
mylist = [(1,3),(2,3),(19,33)]

In [17]:
for string in mylist:
    print(string)

(1, 3)
(2, 3)
(19, 33)

In [18]:
for a,b in [(133,2),(23,3),(44,233)]:
    print(a)

133
23
44

Where we call it as tuple unpacking , means a has its own values and b represents its values

In [28]:
for d in {'k1':1,'k2':22,'k3':44}:
    print(d)

k1
k2
k3

In [31]:
d = {'k1':11,'k2':12,'k3':2}
for di in d.items():
    print(di)

('k1', 11)
('k2', 12)
('k3', 2)

Where the item method prints the entire dictionery

In [32]:
d = {'k1':11,'k2':12,'k3':2}
for key,num in d.items():
    print(num)

11
12
2

to print only specific values either number or keys we use TUPLE UNPACKING

In [33]:
d = {'k1':11,'k2':12,'k3':2}
for dc in d.values():
    print(dc)

11
12
2

In [44]:
z = 0
for n in z < 10:
    print(f'The vale is {n}')
    z = z + 1

TypeError: 'bool' object is not iterable